In [28]:
import pandas as pd
import numpy as np

In [29]:
school_data_to_load = "/Users/jaybaybay/Pandas-Homework/PyCitySchool/schools_complete.csv"
student_data_to_load = "/Users/jaybaybay/Pandas-Homework/PyCitySchool/students_complete.csv"

In [30]:
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [31]:
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [32]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [33]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

In [34]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [36]:
student_count =(school_data_complete_df["Student ID"].count())
print (student_count)
total_budget = (school_data_complete_df["budget"].sum())
print (total_budget)
avg_reading = (school_data_complete_df["reading_score"].mean())
print (avg_reading)
avg_writing = (school_data_complete_df["math_score"].mean())  
print (avg_writing)

39170
82932329558
81.87784018381414
78.98537145774827

In [39]:
district_df = ({
    "Students Count": [student_count],
    "Total Budget": [total_budget], 
    "Average Reading Score": [avg_reading]
})
district_df

{'Students Count': [39170],
 'Total Budget': [82932329558],
 'Average Reading Score': [81.87784018381414]}